<div class="pfp">
  <img src="https://via.placeholder.com/200"/>
<h1 object key:name="@innerText" edit:name> Your Name </h1>
<p object key:pronouns="@innerText" edit:pronouns> Pronouns </p>
<a href="#">Primary soical link logo here of that</a>
<h3 object key:me="@innerText" edit:bio> your bio here (edit me) </h3>
<div object key:page-world="@innerText" edit:page-world>test</div>


 {{#if currentUser}}
 
      <li><a href="/" class="block">HOME</a></li>
    {{else}}
     
    {{/if}}

</div>