


<link rel="stylesheet" href="https://unpkg.com/blocks.css/dist/blocks.min.css" />
<div class="left-block">
<h1>A New platform for Creators to share their story</h1>
  <h3> Everyone has a story. Let's share yours </h3>


  <p> No invites Needed. Reserve your Username  now<span class="example">MakerStories.xyz/<a href="/user/signup">arav</a></span> </p>
</div>

<div class="right-block">
  <ul>
    <h2 class="right-title"> Go check out this poll/vote your thoughts 👇</h1>
<blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Here&#39;s the Idea, (cc <a href="https://twitter.com/mudrankgupta?ref_src=twsrc%5Etfw">@mudrankgupta</a>):<br><br>I want to build a site, where you can put in your bio or keep for yourself, and write your story.<br><br>Think Makers rocket, yet for you. Still need to build the rough MVP to show.</p>&mdash; 🚀 Arav ⠕ (@HeyArav) <a href="https://twitter.com/HeyArav/status/1394338771420827649?ref_src=twsrc%5Etfw">May 17, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    {{#if currentUser}}
      <li><a href="/{{currentUser.details.username}}" class="block">Go to your dashboard</a></li>
    {{else}}
     
    {{/if}}
  </ul>
</div>