<form action="/user/login" method="post" class="fomr">
  <h1>Log in</h1>
  <input type="text" name="username" placeholder="username" class="input" required>
  <input type="password" name="password" placeholder="password" class="input" required>

  <button type="submit" class="fixed block">Log in</button>
</form>
