<form action="/user/signup" method="post" class="form">
  <h1 class="heading-signup">Sign up</h1>

  <input type="text" name="username" placeholder="Username"  class="input" required/>

  <input type="email" name="email" placeholder="Email" required class="input"/>

  <input type="password" name="password" placeholder="Password" required class="input"/>

    <input type="name" name="twitter" placeholder="@elonmusk" class="input"/>
  <button type="submit" class="block">Sign up</button>
</form>
